<div id="home-container">
  <div class="login-card col-md-4">
    <div class="container-card container">

      <!-- Header -->
      <div class="header">
        <h1>Login</h1>
        <p>Bem vindo</p>
        <p>Insira seus dados para prosseguir</p>
      </div>
      <!-- ... -->

      <!-- Form -->
      <div class="form">
        <div class="form-group">
          <div class="input-group">
            <input 
              type="email" 
              name="email" 
              id="email" 
              class="form-control" 
              placeholder="ex: example@email.com">
          </div>
        </div>
      </div>
      <!-- ... -->
    </div>
  </div>
  <div class="background-image col-md-8"></div>
</div>