<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Visualizar Chapas</h4>
      </div>
      <div class="card-body">
        <div class="search">
          <label for="filter">Procurar por chapa</label>
          <input
            type="text"
            class="form-control col-md-4 filter-form"
            id="filter"
            [(ngModel)]="chapaFilter"
            placeholder="Ex: chapa avante">
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th> Nome </th>
              <th> Slogan </th>
              <th> Status </th>
              <th class="text-right"> Opções </th>
            </thead>
            <tbody>
              <tr class="teste" *ngFor="let chapa of chapaList" @listItemState>
                <td> <p class="text-truncate">{{chapa.nome}}</p> </td>
                <td ><p class="text-truncate">{{chapa.slogan}}</p> </td>
                <td>
                  <p *ngIf="chapa.ativo == 1">Ativo</p>
                  <p *ngIf="chapa.ativo == 0">Inativo</p>
                </td>
                <td class="text-right table-options">
                  <div class="options">
                      <a
                      href="javascript:void(0)"
                      class="btn btn-success"
                      data-tooltip="tooltip" data-placement="top" title="Visualizar">
                      <i class="fas fa-search fa-fw"></i>
                    </a>

                    <a
                    href="javascript:void(0)"
                    class="btn btn-primary"
                    data-tooltip="tooltip" data-placement="top" title="Editar">
                    <i class="fas fa-edit fa-fw"></i>
                    </a>

                    <a
                    href="javascript:void(0)"
                    class="btn btn-danger"
                    data-tooltip="tooltip" data-placement="top" title="Excluir" (click)="delete(chapa.id)">
                    <i class="fas fa-trash-alt fa-fw"></i>
                    </a>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
