<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          Chapa um
        </h4>
      </div>
      <div class="card-body">

        <div id="slogan">
          <p>
            <span>
              <h6>
                <strong>Slogan:</strong>
                <p id="slogan-content">Slogan da chapa aqui</p>
              </h6>
            </span>
          </p>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th> Foto  </th>
              <th> Codigo </th>
              <th> Nome   </th>
              <th> Cargo  </th>
            </thead>
            <tbody>
              <tr>
                <td id="photo">             <img class="avatar border-gray avatar-table" src="assets/img/mike.jpg" alt="..."> </td>
                <td> #0001 </td>
                <td> Participante um  </td>
                <td> vice-presidente </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
